.card_container {
  border: 1px solid #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 325px;
  height: 450px;
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:hover {
    .image {
      transform: scale(1.1);
      opacity: 0.3;
      background: rgba(0, 0, 0, 0.7);
    }
  }
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin: 15px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.actions_container {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  align-items: center;
  justify-content: space-around;
}

.watched {
  color: #00ff00;
  font-size: 1.5rem;
}

.not_watched {
  color: #ffffff;
  opacity: 0.3;
  font-size: 1.5rem;
}

.info {
  color: #ffffff;
  font-size: 1.5rem;
}
