.search_input_container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.search_input {
  width: 60%;
  height: 30px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1rem;
  &:focus {
    border: 1px solid #3f51b5;
  }
}
